<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="$(TargetDir)VanType.dll" #>
<#@ assembly name="$(TargetDir)VanType.Tests.dll" #>
<#@ import namespace="VanType" #>
<#@ import namespace="VanType.Tests" #>
<#@ output extension=".d.ts" #>
<#= TypeScript
    .Config()
    .IncludeEnums(true)
    .PrefixClasses(false)
    .PrefixInterfaces(false)
    .OrderPropertiesByName(true)
    .Import<Tag>("../tag")
    .AddClass<Product>()
    .Generate()
#>