<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="$(TargetDir)VanType.dll" #>
<#@ assembly name="$(TargetDir)VanType.Models.dll" #>
<#@ import namespace="VanType" #>
<#@ import namespace="VanType.Models" #>
<#@ output extension=".d.ts" #>
<#= TypeScript
    .Config()
    .IncludeEnums(true)
    .PrefixClasses(false)
    .PrefixInterfaces(false)
    .OrderPropertiesByName(true)
    .Import<Tag>("../tag")
    .Import<Category>("../tag")
    .AddClass<ProductModel>()
    .Generate()
#>